# Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [1]:
import pandas as pd

1. Read this dataset in pandas , mysql and mongodb

In [2]:
fitbit = pd.read_csv('C:\\Users\\rauna\\Documents\\Ineuron_May_2024\\32. 31st July_pandas class 3\\Fitbitdata.csv')
fitbit.info();display(fitbit)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [9]:
# bulk loading in mysql

In [6]:
!pip install csvkit mysql-connector-python

Requirement already satisfied: csvkit in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (2.0.1)
Requirement already satisfied: mysql-connector-python in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (9.1.0)
Requirement already satisfied: agate-excel>=0.2.2 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (0.4.1)
Requirement already satisfied: agate>=1.6.3 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (1.12.0)
Requirement already satisfied: xlrd in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (2.0.1)
Requirement already satisfied: agate-dbf>=0.2.2 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (0.2.3)
Requirement already satisfied: sqlalchemy in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (2.0.36)
Requirement already satisfied: openpyxl in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (3.1.5)
Requirement already satisfied: agate-sql>=0.5.3 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from csvkit) (0.7.2)
Requirement already satisfied: Babel>=2.0 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (2.16.0)
Requirement already satisfied: leather>=0.3.2 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (0.4.0)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (2.6)
Requirement already satisfied: python-slugify>=1.2.1 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (8.0.4)
Requirement already satisfied: pytimeparse>=1.1.5 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (1.1.8)
Requirement already satisfied: tzdata>=2023.3 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (2024.2)
Requirement already satisfied: isodate>=0.5.4 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate>=1.6.3->csvkit) (0.7.2)
Requirement already satisfied: dbfread>=2.0.5 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate-dbf>=0.2.2->csvkit) (2.0.7)
Requirement already satisfied: olefile in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.47)
Requirement already satisfied: et-xmlfile in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from openpyxl->csvkit) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from sqlalchemy->csvkit) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from sqlalchemy->csvkit) (4.12.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.3->csvkit) (1.3)
Note: you may need to restart the kernel to use updated packages.

#steps for bulk loading in mysql 
1.create databases inside mysql
2. load csv file in jupyter notebook
3. import below modules

In [5]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.5-cp39-cp39-win_amd64.whl (207 kB)
     -------------------------------------- 207.2/207.2 kB 1.1 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.5

In [6]:
!pip install csvkit

Requirement already satisfied: csvkit in c:\users\rauna\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: agate-excel>=0.2.2 in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (0.4.1)
Requirement already satisfied: agate-sql>=0.5.3 in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (0.7.2)
Requirement already satisfied: agate-dbf>=0.2.2 in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (0.2.3)
Requirement already satisfied: importlib-metadata in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (4.11.3)
Requirement already satisfied: sqlalchemy in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (1.4.39)
Requirement already satisfied: agate>=1.6.3 in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (1.12.0)
Requirement already satisfied: openpyxl in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (3.0.10)
Requirement already satisfied: xlrd in c:\users\rauna\anaconda3\lib\site-packages (from csvkit) (2.0.1)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (2.6)
Requirement already satisfied: isodate>=0.5.4 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (0.7.2)
Requirement already satisfied: Babel>=2.0 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (2.9.1)
Requirement already satisfied: leather>=0.3.2 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (0.4.0)
Requirement already satisfied: python-slugify>=1.2.1 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (5.0.2)
Requirement already satisfied: tzdata>=2023.3 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (2024.2)
Requirement already satisfied: pytimeparse>=1.1.5 in c:\users\rauna\anaconda3\lib\site-packages (from agate>=1.6.3->csvkit) (1.1.8)
Requirement already satisfied: dbfread>=2.0.5 in c:\users\rauna\anaconda3\lib\site-packages (from agate-dbf>=0.2.2->csvkit) (2.0.7)
Requirement already satisfied: olefile in c:\users\rauna\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: et_xmlfile in c:\users\rauna\anaconda3\lib\site-packages (from openpyxl->csvkit) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rauna\anaconda3\lib\site-packages (from sqlalchemy->csvkit) (1.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\rauna\anaconda3\lib\site-packages (from importlib-metadata->csvkit) (3.8.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\rauna\anaconda3\lib\site-packages (from Babel>=2.0->agate>=1.6.3->csvkit) (2022.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\rauna\anaconda3\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.3->csvkit) (1.3)

In [7]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import MySQLdb
import csvkit
!csvsql --db mysql://root:root@localhost:3306/fitbit --insert Fitbitdata.csv

C:\Users\rauna\anaconda3\lib\site-packages\agate\table\from_csv.py:83: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
  kwargs['dialect'] = csv.Sniffer().sniff(sample)
OperationalError: (MySQLdb.OperationalError) (1050, "Table 'fitbitdata' already exists")
[SQL:
CREATE TABLE `Fitbitdata` (
	`Id` DECIMAL(38, 0) NOT NULL,
	`ActivityDate` DATE NOT NULL,
	`TotalSteps` DECIMAL(38, 0) NOT NULL,
	`TotalDistance` DECIMAL(38, 17) NOT NULL,
	`TrackerDistance` DECIMAL(38, 17) NOT NULL,
	`LoggedActivitiesDistance` DECIMAL(38, 15) NOT NULL,
	`VeryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`ModeratelyActiveDistance` DECIMAL(38, 16) NOT NULL,
	`LightActiveDistance` DECIMAL(38, 17) NOT NULL,
	`SedentaryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`VeryActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`FairlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`LightlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`SedentaryMinutes` DECIMAL(38, 0) NOT NULL,
	`Calories` DECIMAL(38, 0) NOT NULL
)

]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
# bulk import mongo db

In [13]:
pip install pandas pymongo

Requirement already satisfied: pandas in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (1.4.4)
Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-win_amd64.whl (826 kB)
     -------------------------------------- 826.8/826.8 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from pandas) (1.23.3)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
     -------------------------------------- 313.6/313.6 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\rauna\anaconda3\envs\my_env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://root:root@cluster0.zujon.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

db = client.test
print(db)


db1 = client['fit']
coll = db1['fitbitdatset']
coll.insert_many(fitbit.to_dict('records'))

print("Data inserted successfully!")

Database(MongoClient(host=['cluster0-shard-00-02.zujon.mongodb.net:27017', 'cluster0-shard-00-01.zujon.mongodb.net:27017', 'cluster0-shard-00-00.zujon.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-m3tt9w-shard-0', tls=True), 'test')

InsertManyResult([ObjectId('67287d7556945925bff8da8e'), ObjectId('67287d7556945925bff8da8f'), ObjectId('67287d7556945925bff8da90'), ObjectId('67287d7556945925bff8da91'), ObjectId('67287d7556945925bff8da92'), ObjectId('67287d7556945925bff8da93'), ObjectId('67287d7556945925bff8da94'), ObjectId('67287d7556945925bff8da95'), ObjectId('67287d7556945925bff8da96'), ObjectId('67287d7556945925bff8da97'), ObjectId('67287d7556945925bff8da98'), ObjectId('67287d7556945925bff8da99'), ObjectId('67287d7556945925bff8da9a'), ObjectId('67287d7556945925bff8da9b'), ObjectId('67287d7556945925bff8da9c'), ObjectId('67287d7556945925bff8da9d'), ObjectId('67287d7556945925bff8da9e'), ObjectId('67287d7556945925bff8da9f'), ObjectId('67287d7556945925bff8daa0'), ObjectId('67287d7556945925bff8daa1'), ObjectId('67287d7556945925bff8daa2'), ObjectId('67287d7556945925bff8daa3'), ObjectId('67287d7556945925bff8daa4'), ObjectId('67287d7556945925bff8daa5'), ObjectId('67287d7556945925bff8daa6'), ObjectId('67287d7556945925bff8daa7'), ObjectId('67287d7556945925bff8daa8'), ObjectId('67287d7556945925bff8daa9'), ObjectId('67287d7556945925bff8daaa'), ObjectId('67287d7556945925bff8daab'), ObjectId('67287d7556945925bff8daac'), ObjectId('67287d7556945925bff8daad'), ObjectId('67287d7556945925bff8daae'), ObjectId('67287d7556945925bff8daaf'), ObjectId('67287d7556945925bff8dab0'), ObjectId('67287d7556945925bff8dab1'), ObjectId('67287d7556945925bff8dab2'), ObjectId('67287d7556945925bff8dab3'), ObjectId('67287d7556945925bff8dab4'), ObjectId('67287d7556945925bff8dab5'), ObjectId('67287d7556945925bff8dab6'), ObjectId('67287d7556945925bff8dab7'), ObjectId('67287d7556945925bff8dab8'), ObjectId('67287d7556945925bff8dab9'), ObjectId('67287d7556945925bff8daba'), ObjectId('67287d7556945925bff8dabb'), ObjectId('67287d7556945925bff8dabc'), ObjectId('67287d7556945925bff8dabd'), ObjectId('67287d7556945925bff8dabe'), ObjectId('67287d7556945925bff8dabf'), ObjectId('67287d7556945925bff8dac0'), ObjectId('67287d7556945925bff8dac1'), ObjectId('67287d7556945925bff8dac2'), ObjectId('67287d7556945925bff8dac3'), ObjectId('67287d7556945925bff8dac4'), ObjectId('67287d7556945925bff8dac5'), ObjectId('67287d7556945925bff8dac6'), ObjectId('67287d7556945925bff8dac7'), ObjectId('67287d7556945925bff8dac8'), ObjectId('67287d7556945925bff8dac9'), ObjectId('67287d7556945925bff8daca'), ObjectId('67287d7556945925bff8dacb'), ObjectId('67287d7556945925bff8dacc'), ObjectId('67287d7556945925bff8dacd'), ObjectId('67287d7556945925bff8dace'), ObjectId('67287d7556945925bff8dacf'), ObjectId('67287d7556945925bff8dad0'), ObjectId('67287d7556945925bff8dad1'), ObjectId('67287d7556945925bff8dad2'), ObjectId('67287d7556945925bff8dad3'), ObjectId('67287d7556945925bff8dad4'), ObjectId('67287d7556945925bff8dad5'), ObjectId('67287d7556945925bff8dad6'), ObjectId('67287d7556945925bff8dad7'), ObjectId('67287d7556945925bff8dad8'), ObjectId('67287d7556945925bff8dad9'), ObjectId('67287d7556945925bff8dada'), ObjectId('67287d7556945925bff8dadb'), ObjectId('67287d7556945925bff8dadc'), ObjectId('67287d7556945925bff8dadd'), ObjectId('67287d7556945925bff8dade'), ObjectId('67287d7556945925bff8dadf'), ObjectId('67287d7556945925bff8dae0'), ObjectId('67287d7556945925bff8dae1'), ObjectId('67287d7556945925bff8dae2'), ObjectId('67287d7556945925bff8dae3'), ObjectId('67287d7556945925bff8dae4'), ObjectId('67287d7556945925bff8dae5'), ObjectId('67287d7556945925bff8dae6'), ObjectId('67287d7556945925bff8dae7'), ObjectId('67287d7556945925bff8dae8'), ObjectId('67287d7556945925bff8dae9'), ObjectId('67287d7556945925bff8daea'), ObjectId('67287d7556945925bff8daeb'), ObjectId('67287d7556945925bff8daec'), ObjectId('67287d7556945925bff8daed'), ObjectId('67287d7556945925bff8daee'), ObjectId('67287d7556945925bff8daef'), ObjectId('67287d7556945925bff8daf0'), ObjectId('67287d7556945925bff8daf1'), ObjectId('67287d7556945925bff8daf2'), ObjectId('67287d7556945925bff8daf3'), ObjectId('67287d7556945925bff8daf4'), ObjectId('67287d7556945925bff8daf5'), ObjectId('67287d7556945925bff8daf6'), ObjectId('67287d7556945925bff8daf7'), ObjectId('67287d7556945925bff8daf8'), ObjectId('67287d7556945925bff8daf9'), ObjectId('67287d7556945925bff8dafa'), ObjectId('67287d7556945925bff8dafb'), ObjectId('67287d7556945925bff8dafc'), ObjectId('67287d7556945925bff8dafd'), ObjectId('67287d7556945925bff8dafe'), ObjectId('67287d7556945925bff8daff'), ObjectId('67287d7556945925bff8db00'), ObjectId('67287d7556945925bff8db01'), ObjectId('67287d7556945925bff8db02'), ObjectId('67287d7556945925bff8db03'), ObjectId('67287d7556945925bff8db04'), ObjectId('67287d7556945925bff8db05'), ObjectId('67287d7556945925bff8db06'), ObjectId('67287d7556945925bff8db07'), ObjectId('67287d7556945925bff8db08'), ObjectId('67287d7556945925bff8db09'), ObjectId('67287d7556945925bff8db0a'), ObjectId('67287d7556945925bff8db0b'), ObjectId('67287d7556945925bff8db0c'), ObjectId('67287d7556945925bff8db0d'), ObjectId('67287d7556945925bff8db0e'), ObjectId('67287d7556945925bff8db0f'), ObjectId('67287d7556945925bff8db10'), ObjectId('67287d7556945925bff8db11'), ObjectId('67287d7556945925bff8db12'), ObjectId('67287d7556945925bff8db13'), ObjectId('67287d7556945925bff8db14'), ObjectId('67287d7556945925bff8db15'), ObjectId('67287d7556945925bff8db16'), ObjectId('67287d7556945925bff8db17'), ObjectId('67287d7556945925bff8db18'), ObjectId('67287d7556945925bff8db19'), ObjectId('67287d7556945925bff8db1a'), ObjectId('67287d7556945925bff8db1b'), ObjectId('67287d7556945925bff8db1c'), ObjectId('67287d7556945925bff8db1d'), ObjectId('67287d7556945925bff8db1e'), ObjectId('67287d7556945925bff8db1f'), ObjectId('67287d7556945925bff8db20'), ObjectId('67287d7556945925bff8db21'), ObjectId('67287d7556945925bff8db22'), ObjectId('67287d7556945925bff8db23'), ObjectId('67287d7556945925bff8db24'), ObjectId('67287d7556945925bff8db25'), ObjectId('67287d7556945925bff8db26'), ObjectId('67287d7556945925bff8db27'), ObjectId('67287d7556945925bff8db28'), ObjectId('67287d7556945925bff8db29'), ObjectId('67287d7556945925bff8db2a'), ObjectId('67287d7556945925bff8db2b'), ObjectId('67287d7556945925bff8db2c'), ObjectId('67287d7556945925bff8db2d'), ObjectId('67287d7556945925bff8db2e'), ObjectId('67287d7556945925bff8db2f'), ObjectId('67287d7556945925bff8db30'), ObjectId('67287d7556945925bff8db31'), ObjectId('67287d7556945925bff8db32'), ObjectId('67287d7556945925bff8db33'), ObjectId('67287d7556945925bff8db34'), ObjectId('67287d7556945925bff8db35'), ObjectId('67287d7556945925bff8db36'), ObjectId('67287d7556945925bff8db37'), ObjectId('67287d7556945925bff8db38'), ObjectId('67287d7556945925bff8db39'), ObjectId('67287d7556945925bff8db3a'), ObjectId('67287d7556945925bff8db3b'), ObjectId('67287d7556945925bff8db3c'), ObjectId('67287d7556945925bff8db3d'), ObjectId('67287d7556945925bff8db3e'), ObjectId('67287d7556945925bff8db3f'), ObjectId('67287d7556945925bff8db40'), ObjectId('67287d7556945925bff8db41'), ObjectId('67287d7556945925bff8db42'), ObjectId('67287d7556945925bff8db43'), ObjectId('67287d7556945925bff8db44'), ObjectId('67287d7556945925bff8db45'), ObjectId('67287d7556945925bff8db46'), ObjectId('67287d7556945925bff8db47'), ObjectId('67287d7556945925bff8db48'), ObjectId('67287d7556945925bff8db49'), ObjectId('67287d7556945925bff8db4a'), ObjectId('67287d7556945925bff8db4b'), ObjectId('67287d7556945925bff8db4c'), ObjectId('67287d7556945925bff8db4d'), ObjectId('67287d7556945925bff8db4e'), ObjectId('67287d7556945925bff8db4f'), ObjectId('67287d7556945925bff8db50'), ObjectId('67287d7556945925bff8db51'), ObjectId('67287d7556945925bff8db52'), ObjectId('67287d7556945925bff8db53'), ObjectId('67287d7556945925bff8db54'), ObjectId('67287d7556945925bff8db55'), ObjectId('67287d7556945925bff8db56'), ObjectId('67287d7556945925bff8db57'), ObjectId('67287d7556945925bff8db58'), ObjectId('67287d7556945925bff8db59'), ObjectId('67287d7556945925bff8db5a'), ObjectId('67287d7556945925bff8db5b'), ObjectId('67287d7556945925bff8db5c'), ObjectId('67287d7556945925bff8db5d'), ObjectId('67287d7556945925bff8db5e'), ObjectId('67287d7556945925bff8db5f'), ObjectId('67287d7556945925bff8db60'), ObjectId('67287d7556945925bff8db61'), ObjectId('67287d7556945925bff8db62'), ObjectId('67287d7556945925bff8db63'), ObjectId('67287d7556945925bff8db64'), ObjectId('67287d7556945925bff8db65'), ObjectId('67287d7556945925bff8db66'), ObjectId('67287d7556945925bff8db67'), ObjectId('67287d7556945925bff8db68'), ObjectId('67287d7556945925bff8db69'), ObjectId('67287d7556945925bff8db6a'), ObjectId('67287d7556945925bff8db6b'), ObjectId('67287d7556945925bff8db6c'), ObjectId('67287d7556945925bff8db6d'), ObjectId('67287d7556945925bff8db6e'), ObjectId('67287d7556945925bff8db6f'), ObjectId('67287d7556945925bff8db70'), ObjectId('67287d7556945925bff8db71'), ObjectId('67287d7556945925bff8db72'), ObjectId('67287d7556945925bff8db73'), ObjectId('67287d7556945925bff8db74'), ObjectId('67287d7556945925bff8db75'), ObjectId('67287d7556945925bff8db76'), ObjectId('67287d7556945925bff8db77'), ObjectId('67287d7556945925bff8db78'), ObjectId('67287d7556945925bff8db79'), ObjectId('67287d7556945925bff8db7a'), ObjectId('67287d7556945925bff8db7b'), ObjectId('67287d7556945925bff8db7c'), ObjectId('67287d7556945925bff8db7d'), ObjectId('67287d7556945925bff8db7e'), ObjectId('67287d7556945925bff8db7f'), ObjectId('67287d7556945925bff8db80'), ObjectId('67287d7556945925bff8db81'), ObjectId('67287d7556945925bff8db82'), ObjectId('67287d7556945925bff8db83'), ObjectId('67287d7556945925bff8db84'), ObjectId('67287d7556945925bff8db85'), ObjectId('67287d7556945925bff8db86'), ObjectId('67287d7556945925bff8db87'), ObjectId('67287d7556945925bff8db88'), ObjectId('67287d7556945925bff8db89'), ObjectId('67287d7556945925bff8db8a'), ObjectId('67287d7556945925bff8db8b'), ObjectId('67287d7556945925bff8db8c'), ObjectId('67287d7556945925bff8db8d'), ObjectId('67287d7556945925bff8db8e'), ObjectId('67287d7556945925bff8db8f'), ObjectId('67287d7556945925bff8db90'), ObjectId('67287d7556945925bff8db91'), ObjectId('67287d7556945925bff8db92'), ObjectId('67287d7556945925bff8db93'), ObjectId('67287d7556945925bff8db94'), ObjectId('67287d7556945925bff8db95'), ObjectId('67287d7556945925bff8db96'), ObjectId('67287d7556945925bff8db97'), ObjectId('67287d7556945925bff8db98'), ObjectId('67287d7556945925bff8db99'), ObjectId('67287d7556945925bff8db9a'), ObjectId('67287d7556945925bff8db9b'), ObjectId('67287d7556945925bff8db9c'), ObjectId('67287d7556945925bff8db9d'), ObjectId('67287d7556945925bff8db9e'), ObjectId('67287d7556945925bff8db9f'), ObjectId('67287d7556945925bff8dba0'), ObjectId('67287d7556945925bff8dba1'), ObjectId('67287d7556945925bff8dba2'), ObjectId('67287d7556945925bff8dba3'), ObjectId('67287d7556945925bff8dba4'), ObjectId('67287d7556945925bff8dba5'), ObjectId('67287d7556945925bff8dba6'), ObjectId('67287d7556945925bff8dba7'), ObjectId('67287d7556945925bff8dba8'), ObjectId('67287d7556945925bff8dba9'), ObjectId('67287d7556945925bff8dbaa'), ObjectId('67287d7556945925bff8dbab'), ObjectId('67287d7556945925bff8dbac'), ObjectId('67287d7556945925bff8dbad'), ObjectId('67287d7556945925bff8dbae'), ObjectId('67287d7556945925bff8dbaf'), ObjectId('67287d7556945925bff8dbb0'), ObjectId('67287d7556945925bff8dbb1'), ObjectId('67287d7556945925bff8dbb2'), ObjectId('67287d7556945925bff8dbb3'), ObjectId('67287d7556945925bff8dbb4'), ObjectId('67287d7556945925bff8dbb5'), ObjectId('67287d7556945925bff8dbb6'), ObjectId('67287d7556945925bff8dbb7'), ObjectId('67287d7556945925bff8dbb8'), ObjectId('67287d7556945925bff8dbb9'), ObjectId('67287d7556945925bff8dbba'), ObjectId('67287d7556945925bff8dbbb'), ObjectId('67287d7556945925bff8dbbc'), ObjectId('67287d7556945925bff8dbbd'), ObjectId('67287d7556945925bff8dbbe'), ObjectId('67287d7556945925bff8dbbf'), ObjectId('67287d7556945925bff8dbc0'), ObjectId('67287d7556945925bff8dbc1'), ObjectId('67287d7556945925bff8dbc2'), ObjectId('67287d7556945925bff8dbc3'), ObjectId('67287d7556945925bff8dbc4'), ObjectId('67287d7556945925bff8dbc5'), ObjectId('67287d7556945925bff8dbc6'), ObjectId('67287d7556945925bff8dbc7'), ObjectId('67287d7556945925bff8dbc8'), ObjectId('67287d7556945925bff8dbc9'), ObjectId('67287d7556945925bff8dbca'), ObjectId('67287d7556945925bff8dbcb'), ObjectId('67287d7556945925bff8dbcc'), ObjectId('67287d7556945925bff8dbcd'), ObjectId('67287d7556945925bff8dbce'), ObjectId('67287d7556945925bff8dbcf'), ObjectId('67287d7556945925bff8dbd0'), ObjectId('67287d7556945925bff8dbd1'), ObjectId('67287d7556945925bff8dbd2'), ObjectId('67287d7556945925bff8dbd3'), ObjectId('67287d7556945925bff8dbd4'), ObjectId('67287d7556945925bff8dbd5'), ObjectId('67287d7556945925bff8dbd6'), ObjectId('67287d7556945925bff8dbd7'), ObjectId('67287d7556945925bff8dbd8'), ObjectId('67287d7556945925bff8dbd9'), ObjectId('67287d7556945925bff8dbda'), ObjectId('67287d7556945925bff8dbdb'), ObjectId('67287d7556945925bff8dbdc'), ObjectId('67287d7556945925bff8dbdd'), ObjectId('67287d7556945925bff8dbde'), ObjectId('67287d7556945925bff8dbdf'), ObjectId('67287d7556945925bff8dbe0'), ObjectId('67287d7556945925bff8dbe1'), ObjectId('67287d7556945925bff8dbe2'), ObjectId('67287d7556945925bff8dbe3'), ObjectId('67287d7556945925bff8dbe4'), ObjectId('67287d7556945925bff8dbe5'), ObjectId('67287d7556945925bff8dbe6'), ObjectId('67287d7556945925bff8dbe7'), ObjectId('67287d7556945925bff8dbe8'), ObjectId('67287d7556945925bff8dbe9'), ObjectId('67287d7556945925bff8dbea'), ObjectId('67287d7556945925bff8dbeb'), ObjectId('67287d7556945925bff8dbec'), ObjectId('67287d7556945925bff8dbed'), ObjectId('67287d7556945925bff8dbee'), ObjectId('67287d7556945925bff8dbef'), ObjectId('67287d7556945925bff8dbf0'), ObjectId('67287d7556945925bff8dbf1'), ObjectId('67287d7556945925bff8dbf2'), ObjectId('67287d7556945925bff8dbf3'), ObjectId('67287d7556945925bff8dbf4'), ObjectId('67287d7556945925bff8dbf5'), ObjectId('67287d7556945925bff8dbf6'), ObjectId('67287d7556945925bff8dbf7'), ObjectId('67287d7556945925bff8dbf8'), ObjectId('67287d7556945925bff8dbf9'), ObjectId('67287d7556945925bff8dbfa'), ObjectId('67287d7556945925bff8dbfb'), ObjectId('67287d7556945925bff8dbfc'), ObjectId('67287d7556945925bff8dbfd'), ObjectId('67287d7556945925bff8dbfe'), ObjectId('67287d7556945925bff8dbff'), ObjectId('67287d7556945925bff8dc00'), ObjectId('67287d7556945925bff8dc01'), ObjectId('67287d7556945925bff8dc02'), ObjectId('67287d7556945925bff8dc03'), ObjectId('67287d7556945925bff8dc04'), ObjectId('67287d7556945925bff8dc05'), ObjectId('67287d7556945925bff8dc06'), ObjectId('67287d7556945925bff8dc07'), ObjectId('67287d7556945925bff8dc08'), ObjectId('67287d7556945925bff8dc09'), ObjectId('67287d7556945925bff8dc0a'), ObjectId('67287d7556945925bff8dc0b'), ObjectId('67287d7556945925bff8dc0c'), ObjectId('67287d7556945925bff8dc0d'), ObjectId('67287d7556945925bff8dc0e'), ObjectId('67287d7556945925bff8dc0f'), ObjectId('67287d7556945925bff8dc10'), ObjectId('67287d7556945925bff8dc11'), ObjectId('67287d7556945925bff8dc12'), ObjectId('67287d7556945925bff8dc13'), ObjectId('67287d7556945925bff8dc14'), ObjectId('67287d7556945925bff8dc15'), ObjectId('67287d7556945925bff8dc16'), ObjectId('67287d7556945925bff8dc17'), ObjectId('67287d7556945925bff8dc18'), ObjectId('67287d7556945925bff8dc19'), ObjectId('67287d7556945925bff8dc1a'), ObjectId('67287d7556945925bff8dc1b'), ObjectId('67287d7556945925bff8dc1c'), ObjectId('67287d7556945925bff8dc1d'), ObjectId('67287d7556945925bff8dc1e'), ObjectId('67287d7556945925bff8dc1f'), ObjectId('67287d7556945925bff8dc20'), ObjectId('67287d7556945925bff8dc21'), ObjectId('67287d7556945925bff8dc22'), ObjectId('67287d7556945925bff8dc23'), ObjectId('67287d7556945925bff8dc24'), ObjectId('67287d7556945925bff8dc25'), ObjectId('67287d7556945925bff8dc26'), ObjectId('67287d7556945925bff8dc27'), ObjectId('67287d7556945925bff8dc28'), ObjectId('67287d7556945925bff8dc29'), ObjectId('67287d7556945925bff8dc2a'), ObjectId('67287d7556945925bff8dc2b'), ObjectId('67287d7556945925bff8dc2c'), ObjectId('67287d7556945925bff8dc2d'), ObjectId('67287d7556945925bff8dc2e'), ObjectId('67287d7556945925bff8dc2f'), ObjectId('67287d7556945925bff8dc30'), ObjectId('67287d7556945925bff8dc31'), ObjectId('67287d7556945925bff8dc32'), ObjectId('67287d7556945925bff8dc33'), ObjectId('67287d7556945925bff8dc34'), ObjectId('67287d7556945925bff8dc35'), ObjectId('67287d7556945925bff8dc36'), ObjectId('67287d7556945925bff8dc37'), ObjectId('67287d7556945925bff8dc38'), ObjectId('67287d7556945925bff8dc39'), ObjectId('67287d7556945925bff8dc3a'), ObjectId('67287d7556945925bff8dc3b'), ObjectId('67287d7556945925bff8dc3c'), ObjectId('67287d7556945925bff8dc3d'), ObjectId('67287d7556945925bff8dc3e'), ObjectId('67287d7556945925bff8dc3f'), ObjectId('67287d7556945925bff8dc40'), ObjectId('67287d7556945925bff8dc41'), ObjectId('67287d7556945925bff8dc42'), ObjectId('67287d7556945925bff8dc43'), ObjectId('67287d7556945925bff8dc44'), ObjectId('67287d7556945925bff8dc45'), ObjectId('67287d7556945925bff8dc46'), ObjectId('67287d7556945925bff8dc47'), ObjectId('67287d7556945925bff8dc48'), ObjectId('67287d7556945925bff8dc49'), ObjectId('67287d7556945925bff8dc4a'), ObjectId('67287d7556945925bff8dc4b'), ObjectId('67287d7556945925bff8dc4c'), ObjectId('67287d7556945925bff8dc4d'), ObjectId('67287d7556945925bff8dc4e'), ObjectId('67287d7556945925bff8dc4f'), ObjectId('67287d7556945925bff8dc50'), ObjectId('67287d7556945925bff8dc51'), ObjectId('67287d7556945925bff8dc52'), ObjectId('67287d7556945925bff8dc53'), ObjectId('67287d7556945925bff8dc54'), ObjectId('67287d7556945925bff8dc55'), ObjectId('67287d7556945925bff8dc56')], acknowledged=True)

2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql

Done -above

3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [3]:
fitbit['ActivityDate'] = pd.to_datetime(fitbit['ActivityDate'])

In [4]:
fitbit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    datetime64[ns]
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 53.7 KB

In [ ]:
UPDATE your_table_name
SET your_date_column = STR_TO_DATE(your_date_column, '%m-%d-%Y');

In [11]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='root',database='fitbit')
#print(mydb)
cursor = mydb.cursor()
#cursor.execute('show databases')
f1= 'set sql_safe_updates = 0'
cursor.execute(f1)
f = "update fitbit.fitbitdata set ActivityDate = str_to_date(ActivityDate,'%m-%d-%Y')"
cursor.execute(f)
#cursor.fetchall()

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

4 . Find out in this data that how many unique id's we have

In [12]:
fitbit.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [13]:
fitbit['Id'].nunique()

35

5 . which id is one of the active id that you have in whole dataset

In [25]:
fitbit.groupby('Id')['VeryActiveMinutes'].sum().reset_index().sort_values('VeryActiveMinutes',ascending=False)

            Id  VeryActiveMinutes
29  8053475328                933
21  5577150313                900
34  8877689391                802
0   1503960366                681
31  8378563200                665
27  7007744171                536
26  6962181067                495
5   2022484408                481
28  7086361926                315
20  5553957443                283
25  6775888955                179
8   2347167796                177
2   1644430081                148
12  3977333714                146
13  4020332650                130
11  3372868164                118
15  4319703577                 79
23  6290855005                 78
17  4445114986                 76
30  8253242879                 70
9   2873212765                 61
18  4558609924                 52
24  6391747486                 46
19  4702921684                 44
14  4057192912                 40
33  8792009665                 18
1   1624580081                 14
7   2320127002                 11
3   1844505072                  9
22  6117666160                  5
32  8583815059                  5
16  4388161847                  0
10  2891001357                  0
6   2026352035                  0
4   1927972279                  0

In [27]:
fitbit.groupby('Id')['ActivityDate'].count().reset_index().sort_values('ActivityDate',ascending=False)

            Id  ActivityDate
14  4057192912            32
13  4020332650            32
0   1503960366            19
1   1624580081            19
8   2347167796            15
19  4702921684            15
17  4445114986            15
26  6962181067            14
7   2320127002            12
18  4558609924            12
33  8792009665            12
31  8378563200            12
30  8253242879            12
28  7086361926            12
27  7007744171            12
6   2026352035            12
20  5553957443            12
34  8877689391            12
3   1844505072            12
5   2022484408            12
9   2873212765            12
12  3977333714            12
4   1927972279            12
15  4319703577            12
29  8053475328            11
21  5577150313            11
23  6290855005            10
2   1644430081            10
22  6117666160            10
11  3372868164            10
24  6391747486             9
25  6775888955             9
10  2891001357             8
32  8583815059             8
16  4388161847             8

6 . how many of them have not logged there activity find out in terms of number of ids

In [42]:
fitbit[fitbit['LoggedActivitiesDistance'] == 0]['Id'].nunique()

35

7 . Find out who is the laziest person id that we have in dataset

In [51]:
fitbit.groupby('Id')['TotalDistance'].sum().reset_index().sort_values('TotalDistance',ascending=True).iloc[0:1]

            Id  TotalDistance
16  4388161847            0.0

8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [56]:
fitbit[(fitbit['Calories'] < 2500) & (fitbit['Calories'] > 2000)]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
10,1503960366,2016-04-04,14557,9.80,9.80,0.0,3.39,0.70,5.69,0.00,43,18,285,757,2030
11,1503960366,2016-04-05,14844,9.73,9.73,0.0,2.94,0.76,6.04,0.00,36,18,341,736,2083
41,1644430081,2016-04-04,2819,2.05,2.05,0.0,0.31,0.17,1.56,0.01,4,4,87,1345,2444
62,1927972279,2016-04-03,3198,2.21,2.21,0.0,0.00,0.00,2.21,0.00,0,0,146,1183,2449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,8792009665,2016-04-01,4592,2.94,2.94,0.0,0.10,0.14,2.70,0.00,4,8,176,748,2260
436,8792009665,2016-04-04,3821,2.45,2.45,0.0,0.00,0.22,2.23,0.00,0,9,161,675,2229
437,8792009665,2016-04-05,2332,1.49,1.49,0.0,0.01,0.18,1.30,0.00,1,10,111,904,2100
438,8792009665,2016-04-06,2121,1.36,1.36,0.0,0.00,0.00,1.36,0.00,0,0,122,855,2114
442,8792009665,2016-04-10,4605,2.95,2.95,0.0,0.00,0.00,2.95,0.00,0,0,179,1261,2253

9. how many person are not a regular person with respect to activity try to find out those

In [14]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [59]:
fitbit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    datetime64[ns]
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 53.7 KB

In [74]:
# Count the number of days each person has any "VeryActiveMinutes"active_days = 
active_days = fitbit[fitbit['VeryActiveMinutes'] > 0].groupby('Id').size()
active_days

Id
1503960366    18
1624580081     2
1644430081     8
1844505072     1
2022484408    11
2320127002     2
2347167796    11
2873212765     5
3372868164     6
3977333714     7
4020332650     9
4057192912     4
4319703577    11
4445114986     4
4558609924     3
4702921684     8
5553957443     9
5577150313    11
6117666160     2
6290855005     3
6391747486     1
6775888955     6
6962181067    14
7007744171    12
7086361926     9
8053475328    10
8253242879     3
8378563200     9
8583815059     1
8792009665     5
8877689391    11
dtype: int64

In [66]:
fitbit['ActivityDate'].nunique()

32

In [88]:
# Define a threshold for regularity (e.g., being active on more than 50% of days)
total_days = fitbit['ActivityDate'].nunique()  # Total number of days in the dataset
threshold = total_days * 0.5
threshold

16.0

In [68]:
fitbit.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [69]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [80]:
# Identify users who are not regular
irregular_users = active_days[active_days < threshold].index
irregular_users

Index([1624580081, 1644430081, 1844505072, 2022484408, 2320127002, 2347167796,
       2873212765, 3372868164, 3977333714, 4020332650, 4057192912, 4319703577,
       4445114986, 4558609924, 4702921684, 5553957443, 5577150313, 6117666160,
       6290855005, 6391747486, 6775888955, 6962181067, 7007744171, 7086361926,
       8053475328, 8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype='int64', name='Id')

In [81]:
# Count the number of irregular users
number_of_irregular_users = len(irregular_users)
print(f"Number of irregular users: {number_of_irregular_users}")

Number of irregular users: 30

In [83]:
# To get more details about these irregular users
irregular_users_info = fitbit[fitbit['Id'].isin(irregular_users)]
irregular_users_info

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
19,1624580081,2016-03-25,1810,1.180000,1.180000,0.0,0.00,0.00,1.13,0.01,0,0,121,1319,1373
20,1624580081,2016-03-26,815,0.530000,0.530000,0.0,0.00,0.00,0.53,0.00,0,0,47,1393,1264
21,1624580081,2016-03-27,1985,1.290000,1.290000,0.0,0.00,0.00,1.28,0.01,0,0,112,1328,1350
22,1624580081,2016-03-28,1905,1.240000,1.240000,0.0,0.00,0.00,1.24,0.00,0,0,95,1345,1342
23,1624580081,2016-03-29,1552,1.010000,1.010000,0.0,0.00,0.00,1.00,0.00,0,0,66,1374,1300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [119]:
#import pandas as pd


# Count the number of days each person has any "VeryActiveMinutes"
active_days = fitbit[fitbit['VeryActiveMinutes'] > 0].groupby('Id').size()

# Define a threshold for regularity (e.g., being active on more than 50% of days)
total_days = fitbit['ActivityDate'].nunique()  # Total number of days in the dataset
threshold = total_days * 0.5

# Identify users who are not regular
irregular_users = active_days[active_days < threshold].index

# Count the number of irregular users
number_of_irregular_users = len(irregular_users)
print(f"Number of irregular users: {number_of_irregular_users}")

# To get more details about these irregular users
irregular_users_info = fitbit[fitbit['Id'].isin(irregular_users)]

Number of irregular users: 30

10 . who is the third most active person in this dataset find out those in pandas and in sql both .

In [129]:
fitbit.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [169]:
fitbit.groupby('Id')['VeryActiveDistance'].sum().sort_values(ascending=False).reset_index().iloc[2:3,:]

           Id  VeryActiveDistance
2  1503960366               52.89

11 . who is the 5th most laziest person avilable in dataset find it out

In [167]:
result = fitbit.groupby('Id')['VeryActiveDistance'].sum().sort_values(ascending=False).reset_index()
result.iloc[2:3,:]

           Id  VeryActiveDistance
2  1503960366               52.89

In [172]:
fitbit.groupby('Id')['TotalDistance'].sum().sort_values(ascending=True).reset_index().iloc[4:5,:]

           Id  TotalDistance
4  1927972279          18.13

12 . what is a total acumulative calories burn for a person find out

In [173]:
fitbit.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [176]:
fitbit.groupby('Id')['Calories'].sum().reset_index().sort_values('Calories',ascending=False)

            Id  Calories
13  4020332650     98412
14  4057192912     60913
19  4702921684     42322
34  8877689391     41414
31  8378563200     40274
21  5577150313     36303
0   1503960366     34128
29  8053475328     31825
17  4445114986     31617
27  7007744171     31525
8   2347167796     30320
5   2022484408     29704
26  6962181067     29249
2   1644430081     29164
4   1927972279     27048
28  7086361926     26124
1   1624580081     25705
33  8792009665     24884
25  6775888955     24523
15  4319703577     23931
18  4558609924     21962
23  6290855005     21656
20  5553957443     21630
22  6117666160     20993
9   2873212765     20349
3   1844505072     19391
32  8583815059     19130
11  3372868164     18603
7   2320127002     18385
10  2891001357     18187
30  8253242879     17556
12  3977333714     16777
6   2026352035     16266
24  6391747486     15868
16  4388161847     14442

#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we have recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins

1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table

In [177]:
import pandas as pd

In [186]:
filepath = 'C:\\Users\\rauna\\Documents\\Ineuron_May_2024\\32. 31st July_pandas class 3\\Superstore_USA.xlsx'
excelfile = pd.ExcelFile(filepath)

In [187]:
orders = pd.read_excel(excelfile,sheet_name='Orders')
returns = pd.read_excel(excelfile,sheet_name='Returns')
users = pd.read_excel(excelfile,sheet_name='Users')

In [188]:
orders.info();display(orders)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                9426 non-null   int64
 1   Order Priority        9426 non-null   object
 2   Discount              9426 non-null   float64
 3   Unit Price            9426 non-null   float64
 4   Shipping Cost         9426 non-null   float64
 5   Customer ID           9426 non-null   int64
 6   Customer Name         9426 non-null   object
 7   Ship Mode             9426 non-null   object
 8   Customer Segment      9426 non-null   object
 9   Product Category      9426 non-null   object
 10  Product Sub-Category  9426 non-null   object
 11  Product Container     9426 non-null   object
 12  Product Name          9426 non-null   object
 13  Product Base Margin   9354 non-null   float64
 14  Region                9426 non-null   object
 15  State or Province     9426 non-null   object
 16  City                  9426 non-null   object
 17  Postal Code           9426 non-null   int64
 18  Order Date            9426 non-null   datetime64[ns]
 19  Ship Date             9426 non-null   datetime64[ns]
 20  Profit                9426 non-null   float64
 21  Quantity ordered new  9426 non-null   int64
 22  Sales                 9426 non-null   float64
 23  Order ID              9426 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [189]:
returns.info();display(returns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634 entries, 0 to 1633
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order ID  1634 non-null   int64
 1   Status    1634 non-null   object
dtypes: int64(1), object(1)
memory usage: 25.7+ KB

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [190]:
users.info();display(users)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   4 non-null      object
 1   Manager  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [191]:
from sqlalchemy import create_engine


# Create a SQLAlchemy engine
engine = create_engine('mysql+mysqlconnector://root:root@localhost/superstore')

# Upload the DataFrame to MySQL
orders.to_sql('orders', con=engine, if_exists='replace', index=False,)
returns.to_sql('returns', con=engine, if_exists='replace', index=False)
users.to_sql('users', con=engine, if_exists='replace', index=False)

4

In [192]:
returns.columns

Index(['Order ID', 'Status'], dtype='object')

In [193]:
orders.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [200]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd='root',database='superstore')
#print(mydb)
cursor = mydb.cursor()

# Step 1: Add an index to the 'Order ID' column in the 'orders' table
cursor.execute('ALTER TABLE orders ADD INDEX (`Order ID`);')

# Step 2: Delete Order Id in returns table that don't match with orders table
f2 = 'DELETE FROM returns WHERE `Order ID` NOT IN (SELECT `Order ID` FROM orders);'
cursor.execute(f2)

# Step 3: Add the foreign key constraint
f1= 'ALTER TABLE returns ADD CONSTRAINT fk_returns_orders FOREIGN KEY (`Order ID`) REFERENCES orders(`Order ID`);'
cursor.execute(f1)

In [202]:
users.columns

Index(['Region', 'Manager'], dtype='object')

In [208]:
import mysql.connector as conn

# Connect to the database
mydb = conn.connect(user='root', passwd='root', host='localhost', database='superstore')
cursor = mydb.cursor()

# Convert data type for Region to VARCHAR from TEXT
f4 = 'ALTER TABLE users MODIFY COLUMN Region VARCHAR(255);'
f5 = 'ALTER TABLE orders MODIFY COLUMN Region VARCHAR(255);'
cursor.execute(f4)
cursor.execute(f5)

# Create an index on the Region column in the orders table
f6 = 'CREATE INDEX idx_region ON orders(Region);'
cursor.execute(f6)

# Add the foreign key constraint
f3 = "ALTER TABLE users ADD CONSTRAINT fk_users_orders FOREIGN KEY (Region) REFERENCES orders(Region);"
cursor.execute(f3)

print("Foreign key constraint added successfully.")

Foreign key constraint added successfully.

3 . Find out how return that we have recived and with a product id

In [209]:
orders.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [211]:
returns.columns

Index(['Order ID', 'Status'], dtype='object')

In [212]:
orders_returns = orders.merge(returns,on='Order ID',how='left')
orders_returns

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,NaN
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,NaN
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,NaN
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,NaN
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN

In [217]:
orders_returns['Status'].unique()

array([nan, 'Returned'], dtype=object)

In [222]:
orders_returns[orders_returns['Status'] == 'Returned']['Order ID'].index

Index([  49,  317,  318,  324,  733,  734,  810,  826,  910,  913, 1220, 1221,
       1257, 1263, 1417, 1429, 1575, 1583, 1690, 1886, 1896, 1897, 1898, 1900,
       2330, 2466, 2701, 2703, 2729, 2851, 2852, 2871, 2872, 2873, 2881, 3200,
       3205, 3206, 3207, 3220, 3221, 3222, 3231, 3232, 3233, 3234, 3298, 3382,
       3472, 3482, 3483, 3484, 3485, 3486, 3487, 3509, 3745, 4333, 4603, 4604,
       4605, 4606, 4643, 5256, 5370, 5371, 5383, 5727, 5728, 5729, 5730, 5944,
       6540, 6541, 6952, 6953, 6960, 7011, 7012, 7043, 7044, 7252, 7318, 7319,
       7534, 7560, 7845, 7906, 8251, 8252, 8291, 8292, 8462, 8463, 8464, 8465,
       8501, 8986],
      dtype='int64')

4 . try  to join order and return data both in sql and pandas

In [223]:
orders_returns = orders.merge(returns,on='Order ID',how='left')
orders_returns

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,NaN
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,NaN
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,NaN
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,NaN
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN

In [229]:
import mysql.connector as conn

# Connect to the database
mydb = conn.connect(user='root', passwd='root', host='localhost', database='superstore')
cursor = mydb.cursor()

# Convert data type for Region to VARCHAR from TEXT
f7 = 'SELECT * FROM orders INNER JOIN returns ON returns.`Order ID` = orders.`Order ID`;'
cursor.execute(f7)
for i in cursor.fetchall():
    print(i)

(95, 'Medium', 0.1, 5.28, 6.26, 3011, 'Tammy Raynor', 'Regular Air', 'Corporate', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 1928', 0.4, 'East', 'Massachusetts', 'Boston', 2113, datetime.datetime(2013, 10, 20, 0, 0), datetime.datetime(2013, 10, 22, 0, 0), -166.29, 105, 552.03, 612, 612, 'Returned')
(96, 'Medium', 0.01, 65.99, 2.5, 3011, 'Tammy Raynor', 'Regular Air', 'Corporate', 'Technology', 'Telephones and Communication', 'Small Box', '6190', 0.55, 'East', 'Massachusetts', 'Boston', 2113, datetime.datetime(2013, 10, 20, 0, 0), datetime.datetime(2013, 10, 22, 0, 0), 881.6759999999999, 90, 5297.63, 612, 612, 'Returned')
(653, 'Low', 0.09, 8.33, 1.99, 2548, 'Wayne Bass', 'Regular Air', 'Small Business', 'Technology', 'Computer Peripherals', 'Small Pack', '80 Minute Slim Jewel Case CD-R , 10/Pack - Staples', 0.52, 'West', 'California', 'Los Angeles', 90068, datetime.datetime(2011, 6, 17, 0, 0), datetime.datetime(2011, 6, 19, 0, 0), -17.01, 12, 100.32, 4610, 4610, 'Returned')
(654, 'Low', 0.08, 15.67, 1.39, 2548, 'Wayne Bass', 'Regular Air', 'Small Business', 'Office Supplies', 'Envelopes', 'Small Box', '#10 White Business Envelopes,4 1/8 x 9 1/2', 0.38, 'West', 'California', 'Los Angeles', 90068, datetime.datetime(2011, 6, 17, 0, 0), datetime.datetime(2011, 6, 21, 0, 0), 203.01, 44, 678.72, 4610, 4610, 'Returned')
(979, 'Medium', 0.01, 280.98, 57.0, 478, 'Michael Wiggins', 'Delivery Truck', 'Small Business', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Hon 2090 “Pillow Soft” Series Mid Back Swivel/Tilt Chairs', 0.78, 'East', 'New York', 'New York City', 10177, datetime.datetime(2011, 2, 8, 0, 0), datetime.datetime(2011, 2, 9, 0, 0), -416.7, 44, 12296.49, 7079, 7079, 'Returned')
(980, 'Medium', 0.03, 6.48, 5.94, 478, 'Michael Wiggins', 'Regular Air', 'Small Business', 'Office Supplies', 'Paper', 'Small Box', 'Eureka Recycled Copy Paper 8 1/2" x 11", Ream', 0.37, 'East', 'New York', 'New York City', 10177, datetime.datetime(2011, 2, 8, 0, 0), datetime.datetime(2011, 2, 10, 0, 0), -34.91, 18, 128.13, 7079, 7079, 'Returned')
(985, 'Not Specified', 0.02, 54.2, 11.1, 3075, 'Gordon Brandt', 'Regular Air', 'Corporate', 'Furniture', 'Office Furnishings', 'Medium Box', 'Eldon Advantage® Foldable Chair Mats for Low Pile Carpets', 0.64, 'West', 'California', 'Los Angeles', 90061, datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2013, 1, 4, 0, 0), 57.23200000000001, 3, 172.04, 7107, 7107, 'Returned')
(986, 'Not Specified', 0.06, 37.94, 5.08, 3075, 'Gordon Brandt', 'Regular Air', 'Corporate', 'Office Supplies', 'Paper', 'Wrap Bag', 'Snap-A-Way® Black Print Carbonless Ruled Speed Letter, Triplicate', 0.38, 'West', 'California', 'Los Angeles', 90061, datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2013, 1, 6, 0, 0), -33.968, 3, 113.14, 7107, 7107, 'Returned')
(987, 'Not Specified', 0.1, 55.29, 5.08, 3075, 'Gordon Brandt', 'Regular Air', 'Corporate', 'Office Supplies', 'Storage & Organization', 'Small Box', 'Recycled Steel Personal File for Standard File Folders', 0.59, 'West', 'California', 'Los Angeles', 90061, datetime.datetime(2013, 1, 4, 0, 0), datetime.datetime(2013, 1, 5, 0, 0), 163.12, 35, 1886.52, 7107, 7107, 'Returned')
(998, 'High', 0.03, 896.99, 19.99, 2867, 'Dana Teague', 'Regular Air', 'Corporate', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'GBC DocuBind TL300 Electric Binding System', 0.38, 'East', 'District of Columbia', 'Washington', 20016, datetime.datetime(2013, 1, 8, 0, 0), datetime.datetime(2013, 1, 10, 0, 0), 3718.5392, 28, 24362.25, 7203, 7203, 'Returned')
(1008, 'High', 0.09, 16.98, 12.39, 2189, 'Frank Cross', 'Regular Air', 'Corporate', 'Office Supplies', 'Envelopes', 'Small Box', 'Brown Kraft Recycled Envelopes', 0.35, 'East', 'New York', 'New York City', 10177, datetime.datetime(2010, 5, 8, 0, 0), datetime.datetime(2010, 5, 10, 0, 0), -48.57, 22, 381.91, 7364, 7364, 'Returned')
(1147, 'Medium', 0.08, 2.94, 0.96, 491, 'Toni Swanson', 'Regular Air', 'Consumer', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Newell 343', 0.58, 'East', 'New York', 'New York City', 10154, datetime.datetime(2010, 5, 15, 0, 0), datetime.datetime(2010, 5, 17, 0, 0), -2.12, 23, 66.7, 8353, 8353, 'Returned')
(1146, 'Medium', 0.06, 8.32, 2.38, 491, 'Toni Swanson', 'Regular Air', 'Consumer', 'Technology', 'Computer Peripherals', 'Small Pack', 'Imation 3.5 IBM Formatted Diskettes, 10/Box', 0.74, 'East', 'New York', 'New York City', 10154, datetime.datetime(2013, 5, 15, 0, 0), datetime.datetime(2013, 5, 17, 0, 0), -36.63, 44, 371.28, 8353, 8353, 'Returned')
(1359, 'Low', 0.05, 5.85, 2.27, 21, 'Tony Wilkins Winters', 'Regular Air', 'Small Business', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Dixon My First Ticonderoga Pencil, #2', 0.56, 'East', 'New York', 'New York City', 10012, datetime.datetime(2011, 4, 20, 0, 0), datetime.datetime(2011, 4, 24, 0, 0), -6.82, 9, 54.79, 9895, 9895, 'Returned')
(1579, 'Critical', 0.1, 16.91, 6.25, 2571, "Rosemary O'Brien", 'Regular Air', 'Consumer', 'Office Supplies', 'Storage & Organization', 'Small Box', 'Tenex Personal Self-Stacking Standard File Box, Black/Gray', 0.58, 'East', 'New York', 'New York City', 10165, datetime.datetime(2012, 6, 22, 0, 0), datetime.datetime(2012, 6, 23, 0, 0), -16.59, 48, 799.3, 11425, 11425, 'Returned')
(1580, 'Critical', 0.04, 155.99, 8.99, 2571, "Rosemary O'Brien", 'Express Air', 'Consumer', 'Technology', 'Telephones and Communication', 'Small Box', 'CF 688', 0.58, 'East', 'New York', 'New York City', 10165, datetime.datetime(2012, 6, 22, 0, 0), datetime.datetime(2012, 6, 24, 0, 0), 383.454, 38, 4906.36, 11425, 11425, 'Returned')
(1801, 'High', 0.08, 12.64, 4.98, 1999, 'Priscilla Kane', 'Regular Air', 'Corporate', 'Furniture', 'Office Furnishings', 'Small Pack', 'Nu-Dell Executive Frame', 0.48, 'Central', 'Texas', 'Houston', 77070, datetime.datetime(2011, 5, 3, 0, 0), datetime.datetime(2011, 5, 4, 0, 0), 100.04, 73, 915.6, 12900, 12900, 'Returned')
(1802, 'High', 0.08, 306.14, 26.53, 1999, 'Priscilla Kane', 'Delivery Truck', 'Corporate', 'Technology', 'Office Machines', 'Jumbo Drum', 'Okidata ML184 Turbo Dot Matrix Printers', 0.56, 'Central', 'Texas', 'Houston', 77070, datetime.datetime(2011, 5, 3, 0, 0), datetime.datetime(2011, 5, 5, 0, 0), 308.22, 26, 5916.75, 12900, 12900, 'Returned')
(1846, 'High', 0.05, 420.98, 19.99, 2403, 'Kara Gregory', 'Regular Air', 'Consumer', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'GBC DocuBind 200 Manual Binding Machine', 0.35, 'Central', 'Illinois', 'Chicago', 60699, datetime.datetime(2013, 8, 12, 0, 0), datetime.datetime(2013, 8, 13, 0, 0), 3858.2774999999997, 44, 18124.88, 13284, 13284, 'Returned')
(1847, 'High', 0.1, 37.7, 2.99, 2403, 'Kara Gregory', 'Regular Air', 'Consumer', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Vinyl Sectional Post Binders', 0.35, 'Central', 'Illinois', 'Chicago', 60699, datetime.datetime(2013, 8, 12, 0, 0), datetime.datetime(2013, 8, 13, 0, 0), 674.9935, 98, 3325.14, 13284, 13284, 'Returned')
(1868, 'High', 0.06, 4.76, 0.88, 2645, 'Ronnie Dodson', 'Regular Air', 'Consumer', 'Office Supplies', 'Paper', 'Wrap Bag', 'Wirebound Voice Message Log Book', 0.39, 'West', 'Washington', 'Seattle', 98103, datetime.datetime(2013, 1, 5, 0, 0), datetime.datetime(2013, 1, 8, 0, 0), 21.848, 36, 168.48, 13444, 13444, 'Returned')
(1910, 'High', 0.05, 14.48, 1.99, 3079, 'Andrew Levine', 'Regular Air', 'Consumer', 'Technology', 'Computer Peripherals', 'Small Pack', 'TDK 4.7GB DVD+RW', 0.49, 'East', 'Pennsylvania', 'Philadelphia', 19112, datetime.datetime(2012, 9, 30, 0, 0), datetime.datetime(2012, 10, 2, 0, 0), 165.2, 96, 1337.67, 13638, 13638, 'Returned')
(1950, 'Medium', 0.01, 4.91, 0.5, 117, 'Linda Weiss', 'Regular Air', 'Home Office', 'Office Supplies', 'Labels', 'Small Box', 'Avery 493', 0.36, 'West', 'Washington', 'Seattle', 98103, datetime.datetime(2010, 4, 4, 0, 0), datetime.datetime(2010, 4, 6, 0, 0), 112.06, 47, 228.46, 13959, 13959, 'Returned')
(1951, 'Medium', 0.09, 4.0, 1.3, 117, 'Linda Weiss', 'Express Air', 'Home Office', 'Office Supplies', 'Paper', 'Wrap Bag', 'EcoTones® Memo Sheets', 0.37, 'West', 'Washington', 'Seattle', 98103, datetime.datetime(2010, 4, 4, 0, 0), datetime.datetime(2010, 4, 6, 0, 0), 16.79, 19, 77.61, 13959, 13959, 'Returned')
(1952, 'Critical', 0.05, 70.71, 37.58, 1959, 'Bonnie Matthews Rowland', 'Regular Air', 'Home Office', 'Furniture', 'Office Furnishings', 'Wrap Bag', 'Tenex Carpeted, Granite-Look or Clear Contemporary Contour Shape Chair Mats', 0.78, 'South', 'Florida', 'Miami', 33916, datetime.datetime(2013, 9, 24, 0, 0), datetime.datetime(2013, 9, 24, 0, 0), -1157.9113, 63, 4310.92, 13984, 13984, 'Returned')
(2099, 'Not Specified', 0.09, 28.15, 8.99, 1217, 'Billy Perry Browning', 'Express Air', 'Small Business', 'Office Supplies', 'Pens & Art Supplies', 'Small Pack', 'Boston Electric Pencil Sharpener, Model 1818, Charcoal Black', 0.57, 'East', 'Massachusetts', 'Boston', 2112, datetime.datetime(2012, 12, 21, 0, 0), datetime.datetime(2012, 12, 23, 0, 0), -7.8, 92, 2400.26, 15009, 15009, 'Returned')
(2100, 'Not Specified', 0.08, 7.78, 2.5, 1217, 'Billy Perry Browning', 'Express Air', 'Small Business', 'Office Supplies', 'Envelopes', 'Small Box', 'Staples #10 Colored Envelopes', 0.38, 'East', 'Massachusetts', 'Boston', 2112, datetime.datetime(2012, 12, 21, 0, 0), datetime.datetime(2012, 12, 22, 0, 0), 61.09, 56, 458.86, 15009, 15009, 'Returned')
(2143, 'Critical', 0.02, 4.54, 5.83, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Avery® Durable Plastic 1" Binders', 0.36, 'West', 'California', 'Los Angeles', 90058, datetime.datetime(2011, 9, 13, 0, 0), datetime.datetime(2011, 9, 14, 0, 0), -74.405, 38, 183.0, 15303, 15303, 'Returned')
(2144, 'Critical', 0.02, 28.48, 8.99, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Technology', 'Computer Peripherals', 'Small Pack', 'Imation IBM Formatted Diskettes, 100/Pack', 0.7, 'West', 'California', 'Los Angeles', 90058, datetime.datetime(2011, 9, 13, 0, 0), datetime.datetime(2011, 9, 15, 0, 0), -108.14, 33, 965.16, 15303, 15303, 'Returned')
(2368, 'Medium', 0.0, 6.88, 2.0, 553, 'Kristine Connolly', 'Express Air', 'Home Office', 'Office Supplies', 'Paper', 'Wrap Bag', 'Adams Phone Message Book, 200 Message Capacity, 8 1/16” x 11”', 0.39, 'West', 'California', 'Los Angeles', 90008, datetime.datetime(2010, 1, 28, 0, 0), datetime.datetime(2010, 1, 29, 0, 0), 34.068000000000005, 36, 267.53, 17155, 17155, 'Returned')
(2369, 'Medium', 0.03, 32.48, 35.0, 553, 'Kristine Connolly', 'Express Air', 'Home Office', 'Office Supplies', 'Storage & Organization', 'Large Box', 'Fellowes Neat Ideas® Storage Cubes', 0.81, 'West', 'California', 'Los Angeles', 90008, datetime.datetime(2013, 1, 28, 0, 0), datetime.datetime(2013, 1, 28, 0, 0), -1440.4319999999998, 34, 1168.35, 17155, 17155, 'Returned')
(2474, 'Medium', 0.01, 110.98, 30.0, 1104, 'Timothy Ross', 'Delivery Truck', 'Home Office', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Office Star Flex Back Scooter Chair with White Frame', 0.71, 'East', 'New York', 'New York City', 10282, datetime.datetime(2012, 4, 12, 0, 0), datetime.datetime(2012, 4, 13, 0, 0), -183.26, 4, 473.88, 17985, 17985, 'Returned')
(2475, 'Medium', 0.07, 20.99, 3.3, 1104, 'Timothy Ross', 'Regular Air', 'Home Office', 'Technology', 'Telephones and Communication', 'Small Pack', 'Accessory39', 0.81, 'East', 'New York', 'New York City', 10282, datetime.datetime(2012, 4, 12, 0, 0), datetime.datetime(2012, 4, 14, 0, 0), -133.309, 56, 950.91, 17985, 17985, 'Returned')
(2771, 'Not Specified', 0.03, 150.98, 66.27, 1723, 'Constance Flowers', 'Delivery Truck', 'Corporate', 'Furniture', 'Bookcases', 'Jumbo Box', 'Bush Mission Pointe Library', 0.65, 'West', 'California', 'San Diego', 92037, datetime.datetime(2011, 12, 5, 0, 0), datetime.datetime(2011, 12, 8, 0, 0), -533.44, 52, 8119.28, 20036, 20036, 'Returned')
(2772, 'Not Specified', 0.03, 95.99, 4.9, 1723, 'Constance Flowers', 'Regular Air', 'Corporate', 'Technology', 'Telephones and Communication', 'Small Box', 'T60', 0.56, 'West', 'California', 'San Diego', 92037, datetime.datetime(2011, 12, 5, 0, 0), datetime.datetime(2011, 12, 7, 0, 0), 307.251, 39, 3240.93, 20036, 20036, 'Returned')
(2773, 'Not Specified', 0.1, 11.97, 4.98, 1723, 'Constance Flowers', 'Regular Air', 'Corporate', 'Office Supplies', 'Appliances', 'Small Box', 'Staples 6 Outlet Surge', 0.58, 'West', 'California', 'San Diego', 92037, datetime.datetime(2011, 12, 5, 0, 0), datetime.datetime(2011, 12, 5, 0, 0), -31.55, 46, 534.45, 20036, 20036, 'Returned')
(2774, 'Not Specified', 0.03, 26.31, 5.89, 1723, 'Constance Flowers', 'Regular Air', 'Corporate', 'Technology', 'Computer Peripherals', 'Small Box', 'Micro Innovations Micro 3000 Keyboard, Black', 0.75, 'West', 'California', 'San Diego', 92037, datetime.datetime(2011, 12, 5, 0, 0), datetime.datetime(2011, 12, 7, 0, 0), -25.23, 81, 2222.71, 20036, 20036, 'Returned')
(3155, 'Not Specified', 0.05, 30.98, 6.5, 1280, 'Harold Albright', 'Express Air', 'Corporate', 'Technology', 'Computer Peripherals', 'Small Box', 'Belkin ErgoBoard™ Keyboard', 0.64, 'West', 'Washington', 'Seattle', 98119, datetime.datetime(2011, 12, 22, 0, 0), datetime.datetime(2011, 12, 24, 0, 0), -77.89, 19, 587.67, 22656, 22656, 'Returned')
(3169, 'Medium', 0.06, 1.26, 0.7, 2747, 'Brian Grady', 'Express Air', 'Corporate', 'Office Supplies', 'Rubber Bands', 'Wrap Bag', 'Bagged Rubber Bands', 0.81, 'East', 'New York', 'New York City', 10115, datetime.datetime(2012, 4, 5, 0, 0), datetime.datetime(2012, 4, 5, 0, 0), -16.3, 39, 51.75, 22787, 22787, 'Returned')
(3435, 'Critical', 0.03, 5.34, 5.63, 1106, 'Maxine Collier Grady', 'Regular Air', 'Consumer', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Pressboard Data Binder, Crimson, 12" X 8 1/2"', 0.39, 'Central', 'Texas', 'Dallas', 75220, datetime.datetime(2012, 6, 11, 0, 0), datetime.datetime(2012, 6, 12, 0, 0), -60.72, 36, 208.73, 24519, 24519, 'Returned')
(3749, 'Critical', 0.02, 120.98, 30.0, 699, 'Jenny Gold', 'Delivery Truck', 'Consumer', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Hon Every-Day® Chair Series Swivel Task Chairs', 0.64, 'West', 'California', 'Los Angeles', 90041, datetime.datetime(2011, 7, 23, 0, 0), datetime.datetime(2011, 7, 24, 0, 0), -64.14, 14, 1711.44, 26784, 26784, 'Returned')
(3750, 'Critical', 0.09, 13.99, 7.51, 699, 'Jenny Gold', 'Regular Air', 'Consumer', 'Technology', 'Office Machines', 'Medium Box', 'Sharp EL500L Fraction Calculator', 0.39, 'West', 'California', 'Los Angeles', 90041, datetime.datetime(2013, 7, 23, 0, 0), datetime.datetime(2013, 7, 24, 0, 0), -37.9407, 46, 613.65, 26784, 26784, 'Returned')
(4398, 'Low', 0.09, 5.98, 1.49, 1044, 'Erin Ballard', 'Express Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Avery Hanging File Binders', 0.39, 'West', 'California', 'Los Angeles', 90004, datetime.datetime(2012, 3, 20, 0, 0), datetime.datetime(2012, 3, 22, 0, 0), 87.601, 56, 342.87, 31303, 31303, 'Returned')
(4627, 'Low', 0.06, 2.88, 0.5, 3004, 'Maurice Everett', 'Regular Air', 'Corporate', 'Office Supplies', 'Labels', 'Small Box', 'Avery 484', 0.36, 'West', 'California', 'Los Angeles', 90049, datetime.datetime(2011, 2, 15, 0, 0), datetime.datetime(2011, 2, 22, 0, 0), 32.7, 31, 86.1, 32931, 32931, 'Returned')
(4628, 'Low', 0.08, 12.44, 6.27, 3004, 'Maurice Everett', 'Regular Air', 'Corporate', 'Office Supplies', 'Storage & Organization', 'Medium Box', 'Eldon Simplefile® Box Office®', 0.57, 'West', 'California', 'Los Angeles', 90049, datetime.datetime(2011, 2, 15, 0, 0), datetime.datetime(2011, 2, 20, 0, 0), -60.79, 25, 298.11, 32931, 32931, 'Returned')
(4697, 'High', 0.08, 10.35, 0.99, 1106, 'Maxine Collier Grady', 'Regular Air', 'Small Business', 'Office Supplies', 'Labels', 'Small Box', 'Avery 503', 0.37, 'Central', 'Texas', 'Dallas', 75220, datetime.datetime(2013, 10, 19, 0, 0), datetime.datetime(2013, 10, 21, 0, 0), 113.63, 59, 567.41, 33477, 33477, 'Returned')
(5055, 'High', 0.02, 3.28, 5.0, 117, 'Linda Weiss', 'Regular Air', 'Home Office', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Newell 35', 0.56, 'West', 'Washington', 'Seattle', 98103, datetime.datetime(2013, 8, 16, 0, 0), datetime.datetime(2013, 8, 18, 0, 0), -89.06, 52, 190.52, 36038, 36038, 'Returned')
(5165, 'Critical', 0.1, 7.59, 4.0, 1999, 'Priscilla Kane', 'Regular Air', 'Home Office', 'Furniture', 'Office Furnishings', 'Wrap Bag', 'Master Giant Foot® Doorstop, Safety Yellow', 0.42, 'Central', 'Texas', 'Houston', 77070, datetime.datetime(2013, 9, 8, 0, 0), datetime.datetime(2013, 9, 9, 0, 0), -10.61, 6, 52.26, 36743, 36743, 'Returned')
(5231, 'High', 0.03, 35.94, 6.66, 1413, 'Pamela Wiley', 'Regular Air', 'Corporate', 'Office Supplies', 'Envelopes', 'Small Box', 'Tyvek ® Top-Opening Peel & Seel ® Envelopes, Gray', 0.4, 'East', 'Massachusetts', 'Boston', 2113, datetime.datetime(2011, 1, 14, 0, 0), datetime.datetime(2011, 1, 15, 0, 0), 51.244000000000014, 13, 473.46, 37250, 37250, 'Returned')
(5252, 'Critical', 0.08, 26.64, 5.3, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Furniture', 'Chairs & Chairmats', 'Medium Box', 'SAFCO Optional Arm Kit for Workspace® Cribbage Stacking Chair', None, 'West', 'California', 'Los Angeles', 90058, datetime.datetime(2012, 4, 1, 0, 0), datetime.datetime(2012, 4, 2, 0, 0), 90.04, 32, 813.66, 37380, 37380, 'Returned')
(5253, 'Critical', 0.0, 9.99, 4.78, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 1896', 0.4, 'West', 'California', 'Los Angeles', 90058, datetime.datetime(2012, 4, 1, 0, 0), datetime.datetime(2012, 4, 2, 0, 0), 74.73, 53, 571.93, 37380, 37380, 'Returned')
(5254, 'Critical', 0.07, 3.55, 1.43, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Office Supplies', 'Rubber Bands', 'Wrap Bag', 'Acco Clips to Go™ Binder Clips, 24 Clips in Two Sizes', 0.38, 'West', 'California', 'Los Angeles', 90058, datetime.datetime(2012, 4, 1, 0, 0), datetime.datetime(2012, 4, 2, 0, 0), 27.37, 47, 169.19, 37380, 37380, 'Returned')
(5257, 'Low', 0.09, 550.98, 64.59, 349, 'Kim Weiss', 'Delivery Truck', 'Home Office', 'Furniture', 'Tables', 'Jumbo Box', 'Chromcraft Bull-Nose Wood 48" x 96" Rectangular Conference Tables', 0.66, 'South', 'Florida', 'Miami', 33132, datetime.datetime(2012, 9, 9, 0, 0), datetime.datetime(2012, 9, 11, 0, 0), -1770.9659767800001, 76, 40136.93, 37414, 37414, 'Returned')
(5302, 'High', 0.01, 8.33, 1.99, 308, 'Glen Caldwell', 'Regular Air', 'Small Business', 'Technology', 'Computer Peripherals', 'Small Pack', '80 Minute Slim Jewel Case CD-R , 10/Pack - Staples', 0.52, 'West', 'Washington', 'Seattle', 98115, datetime.datetime(2010, 8, 14, 0, 0), datetime.datetime(2010, 8, 15, 0, 0), 10.74, 32, 280.62, 37760, 37760, 'Returned')
(5303, 'High', 0.04, 85.99, 0.99, 308, 'Glen Caldwell', 'Regular Air', 'Small Business', 'Technology', 'Telephones and Communication', 'Wrap Bag', 'Accessory34', 0.55, 'West', 'Washington', 'Seattle', 98115, datetime.datetime(2013, 8, 14, 0, 0), datetime.datetime(2013, 8, 16, 0, 0), 897.867, 76, 5546.06, 37760, 37760, 'Returned')
(5338, 'High', 0.05, 165.2, 19.99, 2670, 'Yvonne Mann', 'Regular Air', 'Home Office', 'Office Supplies', 'Storage & Organization', 'Small Box', 'Economy Rollaway Files', 0.59, 'West', 'California', 'Los Angeles', 90049, datetime.datetime(2010, 11, 29, 0, 0), datetime.datetime(2010, 11, 29, 0, 0), 2008.71, 167, 27587.55, 37924, 37924, 'Returned')
(5339, 'High', 0.09, 17.99, 8.65, 2670, 'Yvonne Mann', 'Regular Air', 'Home Office', 'Office Supplies', 'Pens & Art Supplies', 'Small Box', 'Model L Table or Wall-Mount Pencil Sharpener', 0.57, 'West', 'California', 'Los Angeles', 90049, datetime.datetime(2010, 11, 29, 0, 0), datetime.datetime(2010, 11, 29, 0, 0), -80.53, 71, 1191.58, 37924, 37924, 'Returned')

5 . Try to find out how many unique customer that we have

In [230]:
users.columns

Index(['Region', 'Manager'], dtype='object')

In [231]:
orders_returns.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Status'],
      dtype='object')

In [233]:
super_combine = orders_returns.merge(users,on='Region',how='left')
super_combine

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,NaN,Chris
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,NaN,William
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,NaN,William
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,NaN,William
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,NaN,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN,Erin
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN,Erin
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN,Erin
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN,William
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN,William

In [236]:
super_combine['Customer Name'].nunique()

2703

6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [237]:
super_combine.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,NaN,Chris
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,NaN,William
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,NaN,William
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,NaN,William
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,NaN,William

In [243]:
super_combine.groupby(['Region','Manager'])[['Product Category']].count().reset_index()

    Region  Manager  Product Category
0  Central    Chris              2899
1     East     Erin              2289
2    South      Sam              1954
3     West  William              2284

7 . find out how many different shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [303]:
# Method-1

In [267]:
ship_ = super_combine.groupby('Ship Mode')['Ship Mode'].count()
ship_

Ship Mode
Delivery Truck    1283
Express Air       1107
Regular Air       7036
Name: Ship Mode, dtype: int64

In [302]:
pd.DataFrame({'Ship modes':ship_.index , 'percentage':ship_.values})

       Ship modes  percentage
0  Delivery Truck        1283
1     Express Air        1107
2     Regular Air        7036

In [301]:
# Method-2

In [284]:
# Calculating the percentage usability of each shipment mode
shipment_mode_counts = super_combine['Ship Mode'].value_counts()
percentage_usability = (shipment_mode_counts / len(super_combine)) * 100
percentage_usability

Ship Mode
Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: count, dtype: float64

In [300]:
type(percentage_usability)

pandas.core.series.Series

In [295]:
percentage_usability.index

Index(['Regular Air', 'Delivery Truck', 'Express Air'], dtype='object', name='Ship Mode')

In [296]:
percentage_usability.values

array([74.64460004, 13.61128793, 11.74411203])

In [298]:
pd.DataFrame({'Ship modes':percentage_usability.index , 'percentage':percentage_usability.values})

       Ship modes  percentage
0     Regular Air   74.644600
1  Delivery Truck   13.611288
2     Express Air   11.744112

8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [305]:
super_combine['Order Date'] = pd.to_datetime(super_combine['Order Date'])
super_combine['Ship Date'] = pd.to_datetime(super_combine['Ship Date'])

In [333]:
super_combine['ship-order_date'] = (super_combine['Ship Date'] - super_combine['Order Date'] ).dt.days

In [334]:
super_combine

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager,ship-order_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,NaN,Chris,2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,NaN,William,1
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,NaN,William,1
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,NaN,William,1
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,NaN,William,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN,Erin,1
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN,Erin,0
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN,Erin,2
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN,William,3
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN,William,2

9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [335]:
super_combine[super_combine['ship-order_date'] > 10]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager,ship-order_date
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,NaN,Chris,84
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,NaN,Chris,11
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,NaN,Chris,15
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,NaN,William,17
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,NaN,William,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,NaN,Erin,27
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,NaN,Erin,31
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,NaN,Erin,19
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,NaN,Erin,27
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,NaN,Erin,31

10 . Try to find out a list of a returned order which shipment duration was more then 5 days and find out that region manager as well

In [355]:
super_combine.rename(columns= {'shipment duration' : 'shipment_duration'},inplace=True)

In [356]:
super_combine[(super_combine['Status'] == 'Returned') & (super_combine['shipment_duration'] > 5) ][['Order ID','Status','shipment_duration','Manager']]

      Order ID    Status  shipment_duration  Manager
2466     51559  Returned                  9  William
3232     41760  Returned                  7     Erin
8251     32931  Returned                  7  William

11 . Gorup by region and find out which region is more profitable

In [372]:
super_combine.groupby('Region')['Profit'].sum().reset_index().sort_values('Profit',ascending=False).iloc[0,0]

'Central'

12 . Try to find out overalll in which country we are giving more discount

In [354]:
super_combine.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Status', 'Manager',
       'shipment duration'],
      dtype='object')

In [377]:
super_combine.groupby('City')['Discount'].sum().reset_index().sort_values(by='Discount',ascending=False).iloc[0,0]

'Los Angeles'

13 . Give me a list of unique postal code

In [380]:
list(super_combine['Postal Code'].unique())

[60101,
 98221,
 91776,
 95123,
 2724,
 3110,
 8101,
 8109,
 7203,
 2907,
 55372,
 11787,
 13210,
 59405,
 59601,
 59801,
 68005,
 10012,
 92653,
 92677,
 92530,
 92630,
 90712,
 93534,
 90260,
 97405,
 97526,
 97030,
 97123,
 97303,
 62002,
 98373,
 98052,
 75019,
 23834,
 62701,
 60107,
 60477,
 14150,
 12180,
 77642,
 75080,
 77471,
 78664,
 75088,
 24153,
 94043,
 92563,
 94559,
 10177,
 2917,
 5401,
 4070,
 2331,
 8830,
 8701,
 7470,
 7481,
 5201,
 97035,
 44708,
 45231,
 44105,
 95687,
 5451,
 94591,
 70056,
 22102,
 60601,
 66209,
 66215,
 66502,
 66062,
 6510,
 4401,
 4005,
 2129,
 2038,
 1852,
 1752,
 2067,
 3820,
 8618,
 7644,
 7110,
 8861,
 7095,
 2895,
 97128,
 97504,
 98103,
 84118,
 84041,
 93277,
 76903,
 78207,
 60004,
 94952,
 1510,
 1106,
 1880,
 6401,
 6360,
 2664,
 15122,
 76148,
 5439,
 5403,
 37664,
 37918,
 37086,
 37087,
 80525,
 80817,
 60452,
 76131,
 98059,
 99352,
 37804,
 70802,
 4092,
 7024,
 76240,
 98158,
 78415,
 94122,
 4011,
 4240,
 2474,
 2540,
 1580,
 3038,
 60505,
 84043,
 84321,
 66212,
 48138,
 85335,
 74006,
 75217,
 77536,
 90660,
 13501,
 11580,
 63114,
 84044,
 84047,
 84107,
 60453,
 2021,
 2766,
 7101,
 28227,
 60302,
 60462,
 50208,
 80027,
 66203,
 81503,
 80634,
 37922,
 38109,
 55423,
 55901,
 55113,
 80126,
 80232,
 17331,
 33772,
 87505,
 12208,
 44106,
 43229,
 78589,
 86001,
 85234,
 85301,
 30297,
 28204,
 6824,
 6111,
 6226,
 7109,
 66614,
 67212,
 80538,
 80233,
 80134,
 6830,
 6770,
 6855,
 4073,
 1069,
 2725,
 21234,
 21128,
 21208,
 20854,
 98115,
 91945,
 94404,
 60130,
 1007,
 7111,
 8052,
 21133,
 60510,
 3045,
 7410,
 97045,
 97206,
 44221,
 6478,
 33181,
 4101,
 3246,
 3101,
 7010,
 2878,
 33132,
 13601,
 85338,
 86401,
 19406,
 93727,
 4072,
 7628,
 7071,
 2816,
 2910,
 2886,
 94601,
 2149,
 1840,
 48234,
 37814,
 62223,
 61008,
 61701,
 60440,
 19026,
 68025,
 68801,
 68847,
 68502,
 48509,
 63105,
 13021,
 13905,
 28001,
 45406,
 43015,
 95240,
 90805,
 4901,
 8360,
 78666,
 7026,
 93405,
 94403,
 2358,
 7201,
 7032,
 7666,
 68104,
 89701,
 94583,
 92704,
 6010,
 6108,
 4330,
 1462,
 2370,
 7047,
 7480,
 61801,
 68701,
 56301,
 94024,
 93635,
 95032,
 90266,
 1923,
 2457,
 3054,
 8332,
 90069,
 92683,
 90604,
 2019,
 1915,
 2341,
 7506,
 8601,
 30318,
 1845,
 39180,
 11704,
 11795,
 60543,
 95020,
 4106,
 2062,
 7042,
 10154,
 24281,
 37130,
 84404,
 84057,
 55416,
 46041,
 42104,
 41011,
 95336,
 4038,
 2148,
 8753,
 76067,
 11226,
 97756,
 85204,
 85737,
 84062,
 64064,
 63043,
 22025,
 60061,
 93101,
 95051,
 26501,
 88201,
 78155,
 75090,
 90008,
 68046,
 84604,
 60067,
 60068,
 60087,
 60185,
 75081,
 60187,
 60090,
 39701,
 89015,
 61554,
 61604,
 91767,
 6415,
 4210,
 2032,
 1801,
 3301,
 8021,
 7031,
 7054,
 60091,
 60517,
 46016,
 47401,
 46032,
 47201,
 21136,
 81001,
 90045,
 14224,
 10605,
 10701,
 97301,
 97477,
 97224,
 81007,
 48195,
 5701,
 43952,
 20852,
 20602,
 55106,
 55378,
 95062,
 93454,
 98119,
 60544,
 62301,
 55379,
 60089,
 89115,
 91730,
 2116,
 1540,
 77373,
 37211,
 75203,
 52501,
 64133,
 63301,
 64506,
 98387,
 99207,
 98408,
 77478,
 63116,
 63376,
 80229,
 80030,
 46307,
 46312,
 98105,
 90041,
 90405,
 95404,
 95070,
 6040,
 6460,
 6850,
 6702,
 1520,
 2152,
 7067,
 2840,
 48841,
 89031,
 89041,
 41042,
 6614,
 1803,
 1420,
 1089,
 2190,
 3053,
 3079,
 7003,
 7016,
 7039,
 8232,
 7901,
 85345,
 85023,
 60423,
 40324,
 86301,
 86314,
 97062,
 61201,
 98661,
 14215,
 61107,
 97068,
 18103,
 16602,
 72143,
 92054,
 6033,
 6484,
 6437,
 92691,
 95351,
 6512,
 7001,
 73064,
 27502,
 84067,
 29915,
 84106,
 32168,
 37830,
 42420,
 85254,
 8046,
 99362,
 37167,
 37174,
 79605,
 75002,
 79109,
 71854,
 80033,
 21222,
 6511,
 8002,
 91745,
 93117,
 6114,
 2210,
 1450,
 1060,
 3839,
 92544,
 92345,
 6405,
 6810,
 6492,
 75503,
 77590,
 46514,
 55126,
 89502,
 66202,
 11575,
 85635,
 93422,
 20746,
 76017,
 78745,
 77520,
 77705,
 76021,
 89431,
 20024,
 83616,
 76201,
 33430,
 10039,
 1887,
 7652,
 42240,
 26003,
 78521,
 77803,
 76028,
 96003,
 92374,
 1463,
 7008,
 8857,
 7050,
 7501,
 90278,
 6776,
 2127,
 1605,
 7002,
 2914,
 90049,
 75482,
 75067,
 19901,
 19711,
 94061,
 60610,
 6105,
 2108,
 3842,
 92503,
 95677,
 2339,
 1841,
 7079,
 91761,
 1718,
 1701,
 1040,
 2151,
 7650,
 93030,
 3431,
 7601,
 7450,
 11720,
 60459,
 7712,
 72022,
 28806,
 27217,
 27511,
 66762,
 55125,
 15221,
 11722,
 14225,
 11725,
 27514,
 28205,
 28027,
 27707,
 43017,
 15102,
 95695,
 95991,
 92399,
 90004,
 6473,
 2109,
 7030,
 85351,
 85374,
 3060,
 2864,
 11727,
 10573,
 60409,
 62901,
 18018,
 60441,
 60174,
 60193,
 60076,
 11729,
 11746,
 8816,
 8817,
 7646,
 65721,
 10282,
 18040,
 75220,
 77566,
 75146,
 78041,
 77573,
 80004,
 85281,
 85705,
 85364,
 72714,
 72015,
 92592,
 95661,
 75116,
 78852,
 78539,
 2118,
 79907,
 76039,
 75234,
 60188,
 75056,
 77381,
 75701,
 77901,
 76706,
 75165,
 76086,
 6611,
 1821,
 1056,
 1075,
 7801,
 90640,
 1876,
 7086,
 3801,
 7407,
 8226,
 7070,
 19805,
 32701,
 2040,
 10280,
 27237,
 84660,
 84663,
 35756,
 92646,
 90301,
 6050,
 6790,
 20016,
 34142,
 1108,
 1776,
 7843,
 2920,
 32712,
 46806,
 46404,
 46530,
 97420,
 19013,
 2112,
 1906,
 2451,
 7052,
 2861,
 19140,
 98801,
 75028,
 76106,
 75007,
 75104,
 78613,
 36830,
 35020,
 78641,
 10009,
 75057,
 60110,
 61821,
 77530,
 76031,
 80013,
 80303,
 40422,
 80020,
 80104,
 80906,
 73521,
 33433,
 33437,
 34210,
 91941,
 1930,
 8401,
 7097,
 46142,
 46324,
 47591,
 19134,
 15241,
 6320,
 47274,
 1749,
 2153,
 33180,
 75601,
 84074,
 98902,
 25314,
 82604,
 84084,
 84120,
 60623,
 11554,
 90058,
 80022,
 80219,
 77840,
 2478,
 1453,
 2744,
 8302,
 8028,
 7940,
 62234,
 10170,
 17201,
 77546,
 33511,
 33063,
 33055,
 78596,
 76308,
 52761,
 48101,
 32707,
 79424,
 75901,
 76063,
 75098,
 95207,
 6408,
 2703,
 1832,
 22304,
 46342,
 46203,
 94025,
 94086,
 91360,
 1027,
 1867,
 8863,
 60653,
 48104,
 49017,
 48708,
 84003,
 92553,
 95037,
 2113,
 47130,
 46901,
 47905,
 28031,
 44112,
 80112,
 21146,
 20901,
 44035,
 44117,
 65807,
 63130,
 63135,
 16509,
 17112,
 96150,
 6795,
 2638,
 8901,
 97801,
 29687,
 46226,
 46952,
 46410,
 68601,
 84010,
 84015,
 43081,
 44145,
 44691,
 82001,
 82716,
 33134,
 53110,
 60016,
 60516,
 46360,
 10045,
 94044,
 32137,
 59901,
 14901,
 33065,
 60478,
 46544,
 47302,
 47150,
 62205,
 6488,
 6710,
 1545,
 2072,
 55305,
 35211,
 35601,
 27288,
 92262,
 63385,
 92253,
 78363,
 33314,
 32114,
 46060,
 46368,
 47374,
 39530,
 39056,
 38701,
 39503,
 22003,
 22204,
 24060,
 78501,
 75150,
 33441,
 32720,
 60123,
 45385,
 28314,
 28307,
 6607,
 77571,
 63044,
 44094,
 44511,
 25705,
 82070,
 68901,
 20601,
 11598,
 11010,
 11520,
 95823,
 93905,
 2445,
 1748,
 45324,
 46322,
 97601,
 17602,
 46375,
 11542,
 10528,
 37743,
 74012,
 77095,
 39401,
 38637,
 39212,
 92404,
 94070,
 6901,
 11714,
 60098,
 27203,
 98072,
 90503,
 15131,
 33403,
 33445,
 22015,
 22901,
 23320,
 67114,
 25801,
 45014,
 45840,
 60611,
 77301,
 60007,
 20190,
 72701,
 72903,
 71901,
 19057,
 39301,
 44118,
 19464,
 30062,
 30907,
 30265,
 49534,
 27529,
 35473,
 72401,
 72209,
 92037,
 43026,
 45424,
 44240,
 45429,
 83843,
 88310,
 20012,
 11550,
 28052,
 27534,
 27405,
 27834,
 75034,
 30305,
 73034,
 73703,
 73505,
 73110,
 90036,
 79701,
 95376,
 1607,
 32725,
 34698,
 63141,
 60126,
 60201,
 61032,
 32780,
 46614,
 47802,
 46383,
 47906,
 50010,
 92672,
 92105,
 1945,
 30188,
 59102,
 61401,
 60137,
 94110,
 50021,
 52722,
 63119,
 26101,
 36330,
 90032,
 38654,
 39208,
 48187,
 49236,
 48126,
 48127,
 33178,
 11801,
 52601,
 50613,
 52402,
 15146,
 38671,
 1810,
 2334,
 1469,
 43230,
 1886,
 11741,
 35630,
 92008,
 6443,
 2110,
 1826,
 2035,
 2169,
 1550,
 1570,
 7080,
 7090,
 2808,
 87105,
 94306,
 22193,
 24541,
 ...]

14 . which customer segement is more profitalble find it out .

In [381]:
super_combine.groupby('Customer Segment')['Profit'].sum().reset_index().sort_values('Customer Segment',ascending=False).iloc[0,0]

'Small Business'

15 . try to find out the 10th most loss making product sub-catagory .

In [387]:
super_combine.groupby('Product Sub-Category')['Profit'].sum().reset_index().sort_values('Profit',ascending=True).iloc[9:10,:]

   Product Sub-Category        Profit
4  Computer Peripherals  87917.842513

16 . Try to find out 10 top  product with highest margins

In [390]:
super_combine.groupby('Product Name')['Product Base Margin'].sum().reset_index().sort_values('Product Base Margin',ascending=False).iloc[:10,:]

                                           Product Name  Product Base Margin
557           Global High-Back Leather Tilter, Burgundy                19.98
291   BoxOffice By Design Rectangular and Half-Moon ...                18.33
260                     Bevis 36 x 72 Conference Tables                16.38
142                Adesso Programmable 142-Key Keyboard                15.45
95                                          Accessory36                14.11
824   Office Star - Mid Back Dual function Ergonomic...                13.64
822   Office Star - Contemporary Task Swivel chair w...                13.26
761                         Microsoft Internet Keyboard                13.21
1001                                       StarTAC 7760                12.98
258                        Bell Sonecor JB700 Caller ID                12.60